.form-modal
  form(action="" method='POST').form-works
    h4.form__header Заполните форму <br /> чтобы расчитать <br /> стоимость
    input(name='area' placeholder='Площадь помещения (кв.м)').form__input
    select(name="typeofapartment" placeholder='Выберите тип помещения').form-works__select
      option(value="") value 1
      option(value="") value 2
      option(value="") value 3
      option(value="") value 4
    select(name="typeofwork" placeholder='Выберите тип работ').form-works__select
      option(value="") Монтаж
      option(value="") Замена
      option(value="") Ремонт
      option(value="") Обслуживание
    input(name='phone' placeholder='Телефон для уточнения деталей' required).form__input
    button.form__button#works Расчитать стоимость

