include ../mixins/_formbutton
.modal.modal-specialist
  form.form-specialist
    .modalCloseBtn
    h4.form__header Заполните форму, <br /> чтобы вызвать специалиста-сметчика
    input(name='name' placeholder='Введите имя (не обязательно)').form__input
    input(name='phone' placeholder='Телефон или Email (для ответа)' required).form__input.form__input-mar
    +button('Вызвать специалиста', 'buttonFormWrap', 'buttonForm')
    .confidentiality.confidentiality-mar
      input(type='checkbox' name='checkbox' checked).checkbox
      span.confidentiality__span Согласен <a href='./../../vendor/politic.docx' class='confidentiality__link' download>с политикой конфиденциальности </span></a>
