include ../mixins/_formbutton
.modal.modal-works
  form.form-works
    .modalCloseBtn
    h4.form__header Заполните форму чтобы расчитать стоимость
    input(name='area' placeholder='Площадь помещения (кв.м)').form__input
    .form-works__select(tabindex="1")
      .form-works__select-label Выберете тип помещения
      input(type="hidden", name="typeofarea")
      .form-works__select-values
        .form-works__select-value Квартира
        .form-works__select-value Дом
        .form-works__select-value Коттедж
        .form-works__select-value Другое
    .form-works__select(tabindex="2")
      .form-works__select-label Выберете вид работ
      input(type="hidden", name="typeofwork")
      .form-works__select-values
        .form-works__select-value Монтаж
        .form-works__select-value Замена
        .form-works__select-value Ремонт
        .form-works__select-value Обслуживание
    input(name='phone' placeholder='Телефон для уточнения деталей' required).form__input.form__input-mar.fix-letter
    +button('Расчитать стоимость', 'buttonFormWrap', 'buttonForm')
    .confidentiality.confidentiality-mar
      input(type='checkbox' name='checkbox' checked).checkbox
      span.confidentiality__span Согласен <a href='./../../vendor/politic.docx' class='confidentiality__link' download>с политикой конфиденциальности </span></a>

