.header__contacts
  .header__left-side
    p.header__logo Сервисно-монтажный центр <br /> <span class='bold-name'>ИП Музаффаров Н. М.</span>
    .header__inst-contactwrap
      .header__inst-contactimg
      a.header__inst-contact(href='#') nuruliy_otoplemie
  .header__right-side
    a.header__phone-contact(href='#') +7 (965) <span class='bold-name'>795-21-95</span>
    +button('Заказать звонок', 'button button_fix-pad button_fix-fns cons', 'button-wrap button-wrap_fix-pad button-wrap_fix-grid-right')
