.header__main
  h1.header__heading <span class='header__heading-style'>Монтаж систем отопления</span> <br /> под ключ в Казани
  p.header__description в частном доме, коттедже, квартире <br /> или любом другом помещении.
  .hidden-content
  .header__btn-wrap
    +button('Рассчитать точную стоимость монтажа', 'button button_fix-pad2 works-cost', 'button-wrap button-wrap_fix-grid-left')
  img(data-src='../../images/main-house.png' class='header__img')
  .header__stages
    .header__stages-wrap
      .header__stage
        p.header__stage-number 01
        p.header__stage-text <span class="header__stage-grey_text"> Подготовим</span> 3 варианта сметы под Ваш бюджет
      .header__stage
        p.header__stage-number 02
        p.header__stage-text Бесплатный <span class="header__stage-grey_text"> выезд, замер</span>
          <span class="header__stage-grey_text"> и расчет сметы, </span> экономия  до 5000 руб
    .header__stages-wrap
      .header__stage
        p.header__stage-number 03
        p.header__stage-text 24 месяца устраняем любые
          <span class="header__stage-grey_text"> проблемы с котлом и </span>
          <span class="header__stage-grey_text"> отопительной системой </span> за свой счет.
      .header__stage
        p.header__stage-number 04
        p.header__stage-text Подберем под Ваш бюджет и
          <span class="header__stage-grey_text"> закупим оборудование и </span>
          <span class="header__stage-grey_text"> комплектующие </span> по оптовым ценам, экономия до 48%
