include ../mixins/_button
.plan
  .wrapper
    h2.header__heading <span class='header__heading-style'>Как мы работаем </span> <br /> Схема работ
    .plan__steps
      .plan__step
        .plan__step-img.plan__step-img_1
        .plan__step-arrow.plan__step-arrow-pos1
        .plan__step-desc Вы звоните или <br /> оставляете заявку <br /> на сайте
      .plan__step
        .plan__step-img.plan__step-img_2
        .plan__step-arrow.plan__step-arrow-pos2
        .plan__step-desc Мы выезжаем <br /> к Вам на объект <br /> (бесплатно)
      .plan__step
        .plan__step-img.plan__step-img_3
        .plan__step-arrow.plan__step-arrow-pos3
        .plan__step-desc Делаем замеры, и <br /> рассчитываем точную <br /> стоимость работ
      .plan__step
        .plan__step-img.plan__step-img_4
        .plan__step-arrow.plan__step-arrow-pos4
        .plan__step-desc Оказываем услуги <br /> согласно договору
      .plan__step
        .plan__step-img.plan__step-img_5
        .plan__step-arrow.plan__step-arrow-pos5
        .plan__step-desc Сдаем работу, <br /> подписываем акты
      .plan__step
        .plan__step-img.plan__step-img_6
        .plan__step-desc Выполняем <br /> обязательства по <br /> обслуживанию
    .plan__button-wrap
      +button('Задать вопрос специалисту бесплатно', 'button question', 'button-wrap')
