include ../mixins/_servise
.servises
  .wrapper
    .benefits__heading-wrap
      h2.header__heading <span class='header__heading-style'>НАШИ УСЛУГИ <br /> И ЦЕНЫ</span>
      p.header__description.servises__description_mar Нужно заменить старое оборудование? <br /> Вы переехали в новое помещения и хотите жить в тепле и комфорте? <br /> Устали от частых поломок? <br /> Будем рады помочь!  Мы специализируемся на таких работах как:
    .servises__tabs
      .servises__tabs-navigation
        .tab_btn.tab_btn_mr-l(data-tab="1")
          .tab_btn-icon: include ../../images/tabs_icons/nut-icon.svg
          p.tab_btn-name Монтаж
        .tab_btn.tab_btn_mr-l2(data-tab="2")
          .tab_btn-icon: include ../../images/tabs_icons/recycle.svg
          p.tab_btn-name Замена
        .tab_btn.tab_btn_mr-l3(data-tab="3")
          .tab_btn-icon: include ../../images/tabs_icons/wrench.svg
          p.tab_btn-name Ремонт
        .tab_btn.tab_btn_mr-l4(data-tab="4")
          .tab_btn-icon: include ../../images/tabs_icons/research.svg
          p.tab_btn-name Обслуживание
      .servises__tabs-content
        .servises__type-of-servises(data-tab="1")
          .servises__items-wrap
            +servise('Монтаж напольных котельных', ' от 7900 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
            +servise('Монтаж напольных котельных', ' от 7900 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
            +servise('Монтаж напольных котельных', ' от 4900 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
            +servise('Монтаж напольных котельных', ' от 4900 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
          .servises__items-wrap
            +servise('Монтаж радиаторов отопления (батарей)', ' от 2000 руб.', 'Рассчитать стоимость работ', 'Стальные', 'Алюминиевые', 'Чугунные', 'Биметалличесие', 'Половые конвекторы', 'Пинтусные конвекторы', 'Вулканы')
            +servise('Монтаж насосной группы', ' от 2000 руб.', 'Рассчитать стоимость работ', 'Циркуляционный насос', 'Комплект запорной арматуры', 'Приборы контроля')
            +servise('Монтаж группы безопасности ', ' от 1950 руб.', 'Рассчитать стоимость работ', 'Воздухоотводник', 'Манометр', 'Предохранительный клапан', 'Антипротечка', 'Антизатоп')
            +servise('Монтаж теплого пола', ' от 350 руб./кв', 'Рассчитать стоимость работ', 'Водяной', 'Электрические')
          .servises__items-wrap
            +servise('Монтаж коллектора отопления', ' от 3000 руб.', 'Рассчитать стоимость работ', 'Распределительный', 'Солнечный', 'Радиаторный', 'Для теплого пола')
            +servise('Пуско-наладочные работы', ' от 2500 руб.', 'Рассчитать стоимость работ', 'Проверка монтажа и герметичности с помощью опрессовки выпуск воздуха и наполнение теплоносителем', 'Включение и настройка котла', 'Выбирается температура по желанию заказчика', 'Проверка устройств безопасности', 'Проверка равномерности нагрева')
            +servise('Монтаж группы безопасности ', ' от 4500 руб.', 'Рассчитать стоимость работ', 'Накопительные,', 'Проточные', 'Электрические', 'Газовые')
            +servise('Монтаж теплого пола', ' от 350 руб./кв', 'Рассчитать стоимость работ', 'Кремниевые', 'Плёночные', 'Концентрационные модули,', 'Фотосенсибилизированные')
