include ../mixins/_servise
.servises
  .wrapper
    .benefits__heading-wrap
      h2.header__heading <span class='header__heading-style'>НАШИ УСЛУГИ <br /> И ЦЕНЫ</span>
      p.header__description.servises__description_mar Нужно заменить старое оборудование? <br /> Вы переехали в новое помещения и хотите жить в тепле и комфорте? <br /> Устали от частых поломок? <br /> Будем рады помочь!  Мы специализируемся на таких работах как:
    .servises__tabs
      .servises__tabs-navigation
        .tab_btn.tab_btn_mr-l(data-tab="1")
          .tab_btn-icon.tab_btn-icon-1
          p.tab_btn-name Монтаж
        .tab_btn.tab_btn_mr-l2(data-tab="2")
          .tab_btn-icon.tab_btn-icon-2
          p.tab_btn-name Замена
        .tab_btn.tab_btn_mr-l3(data-tab="3")
          .tab_btn-icon.tab_btn-icon-3
          p.tab_btn-name Ремонт
        .tab_btn.tab_btn_mr-l4(data-tab="4")
          .tab_btn-icon.tab_btn-icon-4
          p.tab_btn-name Обслуживание
      .servises__tabs-content
        .servises__type-of-servises(data-tab="1")
          .servises__items-wrap
            +servise('Монтаж напольных котельных', ' от 7900 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
            +servise('Монтаж настенных котельных', ' от 7900 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
            +servise('Монтаж напольных котлов отопления', ' от 4900 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
            +servise('Монтаж настенных котлов отопления', ' от 4900 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
          .servises__items-wrap
            +servise('Монтаж радиаторов отопления (батарей)', ' от 2000 руб.', 'Рассчитать стоимость работ', 'Стальные', 'Алюминиевые', 'Чугунные', 'Биметалличесие', 'Половые конвекторы', 'Пинтусные конвекторы', 'Вулканы')
            +servise('Монтаж насосной группы', ' от 2000 руб.', 'Рассчитать стоимость работ', 'Циркуляционный насос', 'Комплект запорной арматуры', 'Приборы контроля')
            +servise('Монтаж группы безопасности ', ' от 1950 руб.', 'Рассчитать стоимость работ', 'Воздухоотводник', 'Манометр', 'Предохранительный клапан', 'Антипротечка', 'Антизатоп')
            +servise('Монтаж теплого пола', ' от 350 руб./кв', 'Рассчитать стоимость работ', 'Водяной', 'Электрические')
          .servises__items-wrap
            +servise('Монтаж коллектора отопления', ' от 3000 руб.', 'Рассчитать стоимость работ', 'Распределительный', 'Солнечный', 'Радиаторный', 'Для теплого пола')
            +servise('Пуско-наладочные работы', ' от 2500 руб.', 'Рассчитать стоимость работ', 'Проверка монтажа и герметичности с помощью опрессовки выпуск воздуха и наполнение теплоносителем', 'Включение и настройка котла', 'Выбирается температура по желанию заказчика', 'Проверка устройств безопасности', 'Проверка равномерности нагрева')
            +servise('Монтаж группы безопасности ', ' от 4500 руб.', 'Рассчитать стоимость работ', 'Накопительные,', 'Проточные', 'Электрические', 'Газовые')
            +servise('Монтаж теплого пола', ' от 350 руб./кв', 'Рассчитать стоимость работ', 'Кремниевые', 'Плёночные', 'Концентрационные модули,', 'Фотосенсибилизированные')
        .servises__type-of-servises(data-tab="2")
            .servises__items-wrap
              +servise('Замена напольных котельных', ' от 9000 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
              +servise('Замена настенных котельных', ' от 9000 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
              +servise('Замена напольного котла отопления', ' от 5900 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
              +servise('Замена настенного котла отопления', ' от 5900 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
            .servises__items-wrap
              +servise('Замена радиаторов отопления (батарей)', ' от 2450 руб.', 'Рассчитать стоимость работ', 'Стальные', 'Алюминиевые', 'Чугунные', 'Биметалличесие', 'Половые конвекторы', 'Пинтусные конвекторы', 'Вулканы')
              +servise('Замена насосной группы', ' от 2300 руб.', 'Рассчитать стоимость работ', 'Циркуляционный насос', 'Комплект запорной арматуры', 'Приборы контроля')
              +servise('Замена водонагревателя', ' от 2300 руб.', 'Рассчитать стоимость работ', 'Циркуляционный насос', 'Комплект запорной арматуры', 'Приборы контроля')
              +servise('Замена стояков', ' от 3000 руб.', 'Рассчитать стоимость работ', 'Циркуляционный насос', 'Комплект запорной арматуры', 'Приборы контроля')
            .servises__items-wrap
              +servise('Замена группы безопасности ', ' от 2000 руб.', 'Рассчитать стоимость работ', 'Воздухоотводник', 'Манометр', 'Предохранительный клапан', 'Антипротечка', 'Антизатоп')
              +servise('Замена теплого пола', ' от 1100 руб.', 'Рассчитать стоимость работ', 'Водяной', 'Электрические')
              +servise('Замена коллектора отопления', ' от 4000 руб.', 'Рассчитать стоимость работ', 'Распределительный', 'Солнечный', 'Радиаторный', 'Для теплого пола')
              +servise('Замена труб отопления ', ' от 95 пог.м.руб.', 'Рассчитать стоимость работ', 'Накопительные,', 'Проточные', 'Электрические', 'Газовые')
            .servises__items-wrap
              +servise('Пуско-наладочные работы', ' от 13000 руб.', 'Рассчитать стоимость работ', 'Проверка монтажа и герметичности с помощью опрессовки выпуск воздуха и наполнение теплоносителем', 'Включение и настройка котла', 'Выбирается температура по желанию заказчика', 'Проверка устройств безопасности', 'Проверка равномерности нагрева')
        .servises__type-of-servises(data-tab="3")
            .servises__items-wrap
              +servise('Ремонт напольных котельных', ' от 2000 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
              +servise('Ремонт настенных котельных', ' от 2000 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
              +servise('Ремонт напольного котла отопления', ' от 1800 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
              +servise('Ремонт настенного котла отопления', ' от 1800 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
            .servises__items-wrap
              +servise('Ремонт радиаторов отопления (батарей)', ' от 1500 руб.', 'Рассчитать стоимость работ', 'Стальные', 'Алюминиевые', 'Чугунные', 'Биметалличесие', 'Половые конвекторы', 'Пинтусные конвекторы', 'Вулканы')
              +servise('Ремонт насосной группы', ' от 2700 руб.', 'Рассчитать стоимость работ', 'Циркуляционный насос', 'Комплект запорной арматуры', 'Приборы контроля')
              +servise('Ремонт группы безопасности ', ' от 1800 руб.', 'Рассчитать стоимость работ', 'Воздухоотводник', 'Манометр', 'Предохранительный клапан', 'Антипротечка', 'Антизатоп')
              +servise('Ремонт теплого пола', ' от 2600 руб.', 'Рассчитать стоимость работ', 'Водяной', 'Электрические')
            .servises__items-wrap
              +servise('Ремонт коллектора отопления', ' от 3000 руб.', 'Рассчитать стоимость работ', 'Распределительный', 'Солнечный', 'Радиаторный', 'Для теплого пола')
              +servise('Пуско-наладочные работы', ' от 2500 руб.', 'Рассчитать стоимость работ', 'Проверка монтажа и герметичности с помощью опрессовки выпуск воздуха и наполнение теплоносителем', 'Включение и настройка котла', 'Выбирается температура по желанию заказчика', 'Проверка устройств безопасности', 'Проверка равномерности нагрева')
              +servise('Ремонт солнечных панелей', ' от 4500 руб.', 'Рассчитать стоимость работ', 'Накопительные,', 'Проточные', 'Электрические', 'Газовые')
              +servise('Промывка системы отопления', ' от 5500 руб.', 'Рассчитать стоимость работ', 'Кремниевые', 'Плёночные', 'Концентрационные модули,', 'Фотосенсибилизированные')
        .servises__type-of-servises(data-tab="4")
            .servises__items-wrap
              +servise('Обслуживание напольных котельных', ' от 3500 в год руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
              +servise('Обслуживание настенных котельных', ' от 3500 в год руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
              +servise('Обслуживание напольного котла отопления', ' от 3200 в год. руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
              +servise('Обслуживание настенного котла отопления', ' от 3200 в год. руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
            .servises__items-wrap
              +servise('Обслуживание радиаторов отопления (батарей)', ' от 1700 руб.', 'Рассчитать стоимость работ', 'Стальные', 'Алюминиевые', 'Чугунные', 'Биметалличесие', 'Половые конвекторы', 'Пинтусные конвекторы', 'Вулканы')
              +servise('Диагностика насосной группы', ' от 2000 руб.', 'Рассчитать стоимость работ', 'Циркуляционный насос', 'Комплект запорной арматуры', 'Приборы контроля')
              +servise('Диагностика группы безопасности ', ' от 1500 руб.', 'Рассчитать стоимость работ', 'Воздухоотводник', 'Манометр', 'Предохранительный клапан', 'Антипротечка', 'Антизатоп')
              +servise('Диагностика теплого пола', ' от 2500 руб.', 'Рассчитать стоимость работ', 'Водяной', 'Электрические')
            .servises__items-wrap
              +servise('Диагностика коллектора отопления', ' от 2500 руб.', 'Рассчитать стоимость работ', 'Распределительный', 'Солнечный', 'Радиаторный', 'Для теплого пола')
              +servise('Пуско-наладочные работы', ' от 2500 руб.', 'Рассчитать стоимость работ', 'Проверка монтажа и герметичности с помощью опрессовки выпуск воздуха и наполнение теплоносителем', 'Включение и настройка котла', 'Выбирается температура по желанию заказчика', 'Проверка устройств безопасности', 'Проверка равномерности нагрева')
              +servise('Промывка системы отопления', ' от 5500 руб.', 'Рассчитать стоимость работ', 'Накопительные,', 'Проточные', 'Электрические', 'Газовые')
              +servise('Обслуживание солнечных панелей', ' от 6000 руб.', 'Рассчитать стоимость работ', 'Накопительные,', 'Проточные', 'Электрические', 'Газовые')
    .swiper-container.mobile-slider
      .swiper-wrapper
        .swiper-slide
          .tab_btn.tab_btn_mr-l
            .tab_btn-icon.tab_btn-icon-1
            p.tab_btn-name Монтаж
          .swiper-container
            .swiper-wrapper(data-tab="1")
              .swiper-slide
                +servise('Монтаж напольных котельных', ' от 7900 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
              .swiper-slide
                +servise('Монтаж настенных котельных', ' от 7900 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
              .swiper-slide
                +servise('Монтаж напольных котлов отопления', ' от 4900 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
              .swiper-slide
                +servise('Монтаж настенных котлов отопления', ' от 4900 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
              .swiper-slide
                +servise('Монтаж радиаторов отопления (батарей)', ' от 2000 руб.', 'Рассчитать стоимость работ', 'Стальные', 'Алюминиевые', 'Чугунные', 'Биметалличесие', 'Половые конвекторы', 'Пинтусные конвекторы', 'Вулканы')
              .swiper-slide
                +servise('Монтаж насосной группы', ' от 2000 руб.', 'Рассчитать стоимость работ', 'Циркуляционный насос', 'Комплект запорной арматуры', 'Приборы контроля')
              .swiper-slide
                +servise('Монтаж группы безопасности ', ' от 1950 руб.', 'Рассчитать стоимость работ', 'Воздухоотводник', 'Манометр', 'Предохранительный клапан', 'Антипротечка', 'Антизатоп')
              .swiper-slide
                +servise('Монтаж теплого пола', ' от 350 руб./кв', 'Рассчитать стоимость работ', 'Водяной', 'Электрические')
              .swiper-slide
                +servise('Монтаж коллектора отопления', ' от 3000 руб.', 'Рассчитать стоимость работ', 'Распределительный', 'Солнечный', 'Радиаторный', 'Для теплого пола')
              .swiper-slide
                +servise('Пуско-наладочные работы', ' от 2500 руб.', 'Рассчитать стоимость работ', 'Проверка монтажа и герметичности с помощью опрессовки выпуск воздуха и наполнение теплоносителем', 'Включение и настройка котла', 'Выбирается температура по желанию заказчика', 'Проверка устройств безопасности', 'Проверка равномерности нагрева')
              .swiper-slide
                +servise('Монтаж группы безопасности ', ' от 4500 руб.', 'Рассчитать стоимость работ', 'Накопительные,', 'Проточные', 'Электрические', 'Газовые')
              .swiper-slide
                +servise('Монтаж теплого пола', ' от 350 руб./кв', 'Рассчитать стоимость работ', 'Кремниевые', 'Плёночные', 'Концентрационные модули,', 'Фотосенсибилизированные')
        .swiper-slide
          .tab_btn.tab_btn_mr-l2
            .tab_btn-icon.tab_btn-icon-2
            p.tab_btn-name Замена
          .swiper-container
            .swiper-wrapper(data-tab="2")
              .swiper-slide
                +servise('Замена напольных котельных', ' от 9000 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
              .swiper-slide
                +servise('Замена настенных котельных', ' от 9000 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
              .swiper-slide
                +servise('Замена напольного котла отопления', ' от 5900 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
              .swiper-slide
                +servise('Замена настенного котла отопления', ' от 5900 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
              .swiper-slide
                +servise('Замена радиаторов отопления (батарей)', ' от 2450 руб.', 'Рассчитать стоимость работ', 'Стальные', 'Алюминиевые', 'Чугунные', 'Биметалличесие', 'Половые конвекторы', 'Пинтусные конвекторы', 'Вулканы')
              .swiper-slide
                +servise('Замена насосной группы', ' от 2300 руб.', 'Рассчитать стоимость работ', 'Циркуляционный насос', 'Комплект запорной арматуры', 'Приборы контроля')
              .swiper-slide
                +servise('Замена водонагревателя', ' от 2300 руб.', 'Рассчитать стоимость работ', 'Циркуляционный насос', 'Комплект запорной арматуры', 'Приборы контроля')
              .swiper-slide
                +servise('Замена стояков', ' от 3000 руб.', 'Рассчитать стоимость работ', 'Циркуляционный насос', 'Комплект запорной арматуры', 'Приборы контроля')
              .swiper-slide
                +servise('Замена группы безопасности ', ' от 2000 руб.', 'Рассчитать стоимость работ', 'Воздухоотводник', 'Манометр', 'Предохранительный клапан', 'Антипротечка', 'Антизатоп')
              .swiper-slide
                +servise('Замена теплого пола', ' от 1100 руб.', 'Рассчитать стоимость работ', 'Водяной', 'Электрические')
              .swiper-slide
                +servise('Замена коллектора отопления', ' от 4000 руб.', 'Рассчитать стоимость работ', 'Распределительный', 'Солнечный', 'Радиаторный', 'Для теплого пола')
              .swiper-slide
                +servise('Замена труб отопления ', ' от 95 пог.м.руб.', 'Рассчитать стоимость работ', 'Накопительные,', 'Проточные', 'Электрические', 'Газовые')
        .swiper-slide
          .tab_btn.tab_btn_mr-l3
            .tab_btn-icon.tab_btn-icon-3
            p.tab_btn-name Ремонт
          .swiper-container
            .swiper-wrapper(data-tab="3")
              .swiper-slide
                +servise('Ремонт напольных котельных', ' от 2000 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
              .swiper-slide
                +servise('Ремонт настенных котельных', ' от 2000 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
              .swiper-slide
                +servise('Ремонт напольного котла отопления', ' от 1800 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
              .swiper-slide
                +servise('Ремонт настенного котла отопления', ' от 1800 руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
              .swiper-slide
                +servise('Ремонт радиаторов отопления (батарей)', ' от 1500 руб.', 'Рассчитать стоимость работ', 'Стальные', 'Алюминиевые', 'Чугунные', 'Биметалличесие', 'Половые конвекторы', 'Пинтусные конвекторы', 'Вулканы')
              .swiper-slide
                +servise('Ремонт насосной группы', ' от 2700 руб.', 'Рассчитать стоимость работ', 'Циркуляционный насос', 'Комплект запорной арматуры', 'Приборы контроля')
              .swiper-slide
                +servise('Ремонт группы безопасности ', ' от 1800 руб.', 'Рассчитать стоимость работ', 'Воздухоотводник', 'Манометр', 'Предохранительный клапан', 'Антипротечка', 'Антизатоп')
              .swiper-slide
                +servise('Ремонт теплого пола', ' от 2600 руб.', 'Рассчитать стоимость работ', 'Водяной', 'Электрические')
              .swiper-slide
                +servise('Ремонт коллектора отопления', ' от 3000 руб.', 'Рассчитать стоимость работ', 'Распределительный', 'Солнечный', 'Радиаторный', 'Для теплого пола')
              .swiper-slide
                +servise('Пуско-наладочные работы', ' от 2500 руб.', 'Рассчитать стоимость работ', 'Проверка монтажа и герметичности с помощью опрессовки выпуск воздуха и наполнение теплоносителем', 'Включение и настройка котла', 'Выбирается температура по желанию заказчика', 'Проверка устройств безопасности', 'Проверка равномерности нагрева')
              .swiper-slide
                +servise('Ремонт солнечных панелей', ' от 4500 руб.', 'Рассчитать стоимость работ', 'Накопительные,', 'Проточные', 'Электрические', 'Газовые')
              .swiper-slide
                +servise('Промывка системы отопления', ' от 5500 руб.', 'Рассчитать стоимость работ', 'Кремниевые', 'Плёночные', 'Концентрационные модули,', 'Фотосенсибилизированные')
        .swiper-slide
          .tab_btn.tab_btn_mr-l4
            .tab_btn-icon.tab_btn-icon-4
            p.tab_btn-name Обслуживание
          .swiper-container
            .swiper-wrapper(data-tab="4")
              .swiper-slide
                +servise('Обслуживание напольных котельных', ' от 3500 в год руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
              .swiper-slide
                +servise('Обслуживание настенных котельных', ' от 3500 в год руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
              .swiper-slide
                +servise('Обслуживание напольного котла отопления', ' от 3200 в год. руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
              .swiper-slide
                +servise('Обслуживание настенного котла отопления', ' от 3200 в год. руб.', 'Рассчитать стоимость работ', 'Газовые', 'Электрические', 'Твердотопливные', 'На жидком топливе', 'Пеллетные котлы', 'Комбинированные')
              .swiper-slide
                +servise('Обслуживание радиаторов отопления (батарей)', ' от 1700 руб.', 'Рассчитать стоимость работ', 'Стальные', 'Алюминиевые', 'Чугунные', 'Биметалличесие', 'Половые конвекторы', 'Пинтусные конвекторы', 'Вулканы')
              .swiper-slide
                +servise('Диагностика насосной группы', ' от 2000 руб.', 'Рассчитать стоимость работ', 'Циркуляционный насос', 'Комплект запорной арматуры', 'Приборы контроля')
              .swiper-slide
                +servise('Диагностика группы безопасности ', ' от 1500 руб.', 'Рассчитать стоимость работ', 'Воздухоотводник', 'Манометр', 'Предохранительный клапан', 'Антипротечка', 'Антизатоп')
              .swiper-slide
                +servise('Диагностика теплого пола', ' от 2500 руб.', 'Рассчитать стоимость работ', 'Водяной', 'Электрические')
              .swiper-slide
                +servise('Диагностика коллектора отопления', ' от 2500 руб.', 'Рассчитать стоимость работ', 'Распределительный', 'Солнечный', 'Радиаторный', 'Для теплого пола')
              .swiper-slide
                +servise('Пуско-наладочные работы', ' от 2500 руб.', 'Рассчитать стоимость работ', 'Проверка монтажа и герметичности с помощью опрессовки выпуск воздуха и наполнение теплоносителем', 'Включение и настройка котла', 'Выбирается температура по желанию заказчика', 'Проверка устройств безопасности', 'Проверка равномерности нагрева')
              .swiper-slide
                +servise('Промывка системы отопления', ' от 5500 руб.', 'Рассчитать стоимость работ', 'Накопительные,', 'Проточные', 'Электрические', 'Газовые')
              .swiper-slide
                +servise('Обслуживание солнечных панелей', ' от 6000 руб.', 'Рассчитать стоимость работ', 'Накопительные,', 'Проточные', 'Электрические', 'Газовые')




