include ../mixins/_button
.stars
  .wrapper
    h2.header__heading <span class='header__heading-style'>наши звездные <br /> клиенты</span>
    .stars-wrap
      .stars__star
        img(data-src='./../../images/stars/------------------------.jpg' alt='star').stars__star-img
        .stars__star__desc-wrap
          p.stars__star-name Чулпан <br /> Юсупова
          p.stars__star-descf Певица татарской эстрады
          p.stars__star-descs Произвели работу по
            <br /> монтажу отопления в
            <br /> частном доме
      .stars__star
        img(data-src='./../../images/stars/-----5.jpg' alt='star').stars__star-img.stars__star-img-size
        .stars__star__desc-wrap
          p.stars__star-name Ирек <br /> Хафизов
          p.stars__star-descf Заслуженный артист <br /> Республики Татарстан
          p.stars__star-descs.stars__star-descs-mar Произвели работу по
            <br /> монтажу отопления в
            <br /> частном доме
    .works__button-wrap
      +button('Вызвать специалиста-сметчика бесплатно', 'button', 'button-wrap')
