extends layouts/_main.pug

block vars
  - const title = 'МОНТАЖ СИСТЕМ ОТОПЛЕНИЯ ПОД КЛЮЧ В КАЗАНИ'

block content
  include blocks/_header
  include blocks/_benefit
  include blocks/_services&prices
