extends layouts/_main.pug

block vars
  - const title = 'Document'

block content
  h1 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident at minima, earum ut impedit necessitatibus iure consectetur, id debitis consequatur numquam voluptas. Minima impedit fuga quod sequi cumque nam laboriosam!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus magni atque laborum ipsa distinctio earum rerum assumenda impedit quam minima, accusamus delectus nulla commodi fugiat beatae adipisci nam incidunt tempora?
