extends layouts/_main.pug

block vars
  - const title = 'МОНТАЖ СИСТЕМ ОТОПЛЕНИЯ ПОД КЛЮЧ В КАЗАНИ'

block content
  include blocks/_header
  include blocks/_benefit
  include blocks/_services&prices
  include blocks/_dangers
  include blocks/_complited-works
  include blocks/_stars
  include blocks/_certificates
  include blocks/_plan
  include blocks/_footer
