<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Спасибо за заявку!
    link(rel="stylesheet", href="/css/style.css")
  body
    .thanks
      .wrapper.thanks__wrapper
        .heading
          h1.header__heading.thanks__heading <span class='header__heading-style'>Ваша заявка принята</span> <br /> Мы свяжемся с Вами  в ближайшее время
          .maimlink-wrap
            a(href='/').mainlink Перейти на главную страницу
        .img-block
          img(src='../../images/main-house.png' class='header__img header__img_fix')

