@media (min-width 769px)
  .modal-img
    width 25%
  .mobile-slider
    display none
  .servises__tabs.planshet-tab
    display none
  .hidden_man
    display none
@media only screen and (max-width 768px)
  .swiper-slide.row
    flex-direction row
    align-items flex-start
  .header__stage-fix
    margin 0
  .dignitys__dignity
    margin-bottom 2rem
  .plan
    &__steps
      justify-content center
    &__step
      width 35%
      margin-bottom 1rem
      &-arrow-pos1, &-arrow-pos2, &-arrow-pos3, &-arrow-pos4, &-arrow-pos5
        right -1.8rem
  .button-next.btn-tab, .button-prev.btn-tab
      background: url('./../../images/slider-icon/slider-nav-active.png') no-repeat
      display block
      left -9999px
      right 0
      z-index 10
  .button-next.btn-tab.mobile
    background: url('./../../images/slider-icon/slider-nav-active.png') no-repeat center center/cover
    width 1.7rem
    height 3.1rem
    transform: translate(50rem, 13rem)
    left 0
  .button-prev.btn-tab.mobile
    background: url('./../../images/slider-icon/slider-nav-active.png') no-repeat center center/cover
    width 1.7rem
    height 3.1rem
    transform: translate(20rem, 13rem) scaleX(-1)
    left 0
  .button-prev.btn-tab.mobile.swiper-button-disabled
    background-image: url('./../../images/slider-icon/slider-nav-disable.png') no-repeat center center/cover
    transform: translate(20rem, 13rem) scaleX(1)
    width 1.7rem
    height 3.1rem
  .button-next.btn-tab.mobile.swiper-button-disabled
    background-image: url('./../../images/slider-icon/slider-nav-disable.png') no-repeat center center/cover
    transform: translate(50rem, 13rem) scaleX(-1)
    width 1.7rem
    height 3.1rem
  .modal-img
    width 50%
  .servises__description_mar
    margin-bottom 2rem
  .servises__tabs
    display none
  .mobile-slider
    display none
  .servises__tabs.planshet-tab
    display block
    position relative
  .servise
    display flex
    flex-direction column
    margin-top 2rem
    margin-left 6rem
  .header
    &__logo, &__phone-contact
      margin 0
      margin-bottom 2rem
    &__left-side, &__right-side
      width 100%
      justify-content space-around
      flex-direction column
    &__right-side
      margin-top 1rem
    &__advantages
      flex-direction column
      margin-left 6rem
    &__img
      display none
    &__heading, &__description, &__btn-wrap
      text-align center
    &__stages
      flex-direction column
      align-items center
      justify-content center
    &__stages-wrap
      margin-bottom 5rem
      width 100%
      justify-content space-around
      &:nth-child(2)
        margin 0
    &__stage
      margin 0


  .benefits
    &__heading-wrap
      flex-direction column
    &__description
      &_mar
        margin-left 0
  .benefit
    max-width 35rem
  .servises
    padding-bottom 0
    &__tabs
      margin-top 4rem

    &__description_mar
      margin-left 0
      margin-top 4rem
    &__tabs-navigation
      flex-direction column
    &__tabs-navigation.planshet
      display flex
      flex-direction row
  .dangers
    &__problems
      justify-content space-around
    &__description_mar
      margin-left 0
      margin-top 2rem
    &__form
      padding 4.1rem 2rem 1.9rem
      &:before, &:after
        display none
    &__form-data
      flex-direction column
      justify-content center

  .swiper-slide
    flex-direction column
    justify-content center
    align-items center
  .works__content__room-desc
    max-width: 57.6rem
  .sliderContent
    &__images-wrap
      max-width 57.3rem
      margin auto
    &__small-img-container
      flex-wrap wrap
      justify-content flex-start
      margin 1.6rem auto 0
    &__icons
      align-items center
    &__small-img
      width 8.5rem
      margin-right 1rem
  .works__content__desc
    margin: 2rem auto 0
  .stars
    &-wrap
      flex-direction column
    &__star
      justify-content center
      margin-bottom 2rem
  .dignitys
    justify-content space-around
  .certificates
    &__heading-wrap
      justify-content center
    &__name
      display none
    &__man
      display none
  .hidden_man
    display flex
    align-items center
    justify-content space-around
    flex-direction column
  .certificate-block
    flex-direction column
    &__elem
      margin-right 0
    &-wrap
      margin-bottom 5rem
      display flex
      justify-content space-around
      width 100%
  .danger__img
    width 100%
  .stars__star-img-size
    margin-left -3.4rem
  .button-next, .button-prev
    left 0
  .button-next
    transform: translateX(71rem)
  .button-next.swiper-button-disabled
    transform: translateX(71rem) scaleX(-1)
  .thanks
    padding 0
  .wrapper.thanks__wrapper
    display flex
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  .header__img_fix
    display block
    transform: translateX(0)
    margin-top 2rem
  .header__heading.thanks__heading
    font-size: 4.5rem
  .group
    margin-right 0
    margin-bottom 2.5rem
  .tab_btn.active:before
    left: -2rem;
    width: 14.2rem;

  .tab_btn.planshet-tab.active5:before
    content ''
    left 0rem
    width: 19.2rem;
  .button-next.btn-tab.planshet-btn, .button-prev.btn-tab.planshet-btn
    left 0
  .button-next.btn-tab.planshet-btn
    transform: translate(67rem,10rem)
  .button-prev.btn-tab.planshet-btn
    transform: translate(2rem, 10rem) scaleX(-1)
  .button-prev.btn-tab.planshet-btn.swiper-button-disabled
    background-image: url('./../../images/slider-icon/slider-nav-disable.png')
    transform: translate(2rem, 10rem) scaleX(1)
  .button-next.btn-tab.planshet-btn.swiper-button-disabled
    background-image: url('./../../images/slider-icon/slider-nav-disable.png')
    transform: translate(67rem,10rem) scaleX(-1)
  .servises__tabs-content
    overflow hidden
    height 51.7rem
  .certificates__heading-wrap
    display none
@media only screen and (max-width: 576px)
  .servises__tabs-navigation
    &:after
      display none
  .header__stage-fix
    margin 0
  .fix-center-element
    margin-left -2.5rem
  .danger__img
    width 100%
  .tab_btn.active:before
    left -4rem
  .certificates__heading-wrap
    display none
  .hidden_man
    flex-direction column
  .certificates__man-new
    margin-bottom 2rem
  .button-next, .button-prev
    left 0
    top 50%
  .button-next
    transform: translateX(26rem)
  .button-next.swiper-button-disabled
    transform: translateX(26rem) scaleX(-1)
  .tab_btn
    &.active
      color ligc
      &:before
        width 19.2rem
      .tab_btn-icon
        &-1
          background-image url('./../../images/tabs_icons/1.png')
        &-2
          background-image url('./../../images/tabs_icons/2.png')
        &-3
          background-image url('./../../images/tabs_icons/3.png')
        &-4
          background-image url('./../../images/tabs_icons/4.png')
  .tab_btn.active5:before
    content ''
    left 0
  .servises__tabs.planshet-tab
    display none
  .button-next.btn-tab, .button-prev.btn-tab
    background: url('./../../images/slider-icon/slider-nav-active.png') no-repeat
    display block
    top 12.7rem
    left 0
    right 0
    z-index 10
  .button-next.btn-tab
    transform: translate(52rem, -10rem)
  .button-prev.btn-tab
    transform:translate(20rem, -10rem) scale(-1)
  .button-next.btn-tab.swiper-button-disabled
    background-image: url('./../../images/slider-icon/slider-nav-disable.png')
    transform: translate(52rem, -10rem) scaleX(-1)
  .button-prev.btn-tab.swiper-button-disabled
    background-image: url('./../../images/slider-icon/slider-nav-disable.png')
    transform: translate(20rem, -10rem) scaleX(1)
  .button-next.btn-tab.mobile
    transform: translate(26rem, 13rem)
  .button-prev.btn-tab.mobile
    transform: translate(0rem, 13rem) scaleX(-1)
  .button-prev.btn-tab.mobile.swiper-button-disabled
    background-image: url('./../../images/slider-icon/slider-nav-disable.png')
    transform: translate(0rem, 13rem) scaleX(1)
  .button-next.btn-tab.mobile.swiper-button-disabled
    background-image: url('./../../images/slider-icon/slider-nav-disable.png')
    transform: translate(26rem, 13rem) scaleX(-1)
  .group
    margin-right 0
    margin-bottom 2.5rem
    width 100%
    &__input
      width 100%
    &__span2
      width 100%
  .plan
    &__steps
      flex-direction column
      align-items center
      justify-content space-around
    &__step
      margin-bottom 2rem
      position static
      &-arrow
        margin 2rem auto 0
        position static
        transform: rotate(90deg)
  .button-next.btn-tab
    transform: translate(26rem, -10rem)
  .button-prev.btn-tab
    transform: translate(0rem, -10rem) scale(-1)
  .button-next.btn-tab.swiper-button-disabled
    transform: translate(26rem, -10rem) scaleX(-1)
  .button-prev.btn-tab.swiper-button-disabled
    transform: translate(0rem, -10rem) scaleX(1)
  .header__description.benefits__description_mar
    margin-bottom 0
  .sometext.fix
    display block
    margin-left 4.6rem
  .servises__description_mar
    margin-bottom 2rem
  .servises__tabs
    display none
  .mobile-slider
    display block
  .header
    &__left-side, &__right-side
      flex-direction column
    &__logo, &__phone-contact, &__inst-contactwrap
      margin 0
      margin-bottom: 3rem
      text-align center
    &__advantages
      margin-left 0
    &__stages
      flex-direction column
      align-items center
    &__stage
      margin-bottom 4rem
      display flex
      align-items center
    &__stage-number
      left 20px
    &__stages-wrap
      flex-direction column
      align-items center
  .works__content__room-name
    margin-top 2rem
  .works__content__room-desc
    margin-top 1.7rem
  .benefit
    &-container
      justify-content center
  .dangers__problems
    justify-content center
  .dangers__form
    padding 4.1rem 2rem 1.9rem
  .sliderContent__icon_desc-wrap
    margin 0
    margin-top 1rem
  .sliderContent__icons
    flex-wrap wrap
    justify-content center
    flex-direction column
  .sliderContent__icon-elem
    flex-direction: column
    justify-content center
    margin-top 1rem
  .sliderContent__big-img
    width 32.9rem
  .sliderContent__small-img-container
    flex-wrap wrap
    justify-content flex-start
  .sliderContent__small-img
    margin-bottom 1rem
    margin-right 1rem
    width: 8.6rem;
  .stars__star
    display flex
    flex-direction column
  .stars__star-descs
    margin-top 2rem
  .stars__star-img
    width 20.2rem
    height 24rem
    margin-bottom 1rem
  .stars__star-descs-mar
    margin-top 2rem
  .header__heading
    font-size 4.8rem
    line-height: 5.2rem
  .dignitys__dignity
    margin-bottom 2rem
    &:last-child
      margin-bottom 0
  .certificate-block__elem
    pointer-events none
    margin-bottom 2rem
    &:first-child
      margin-right 0
      margin-bottom 2rem
  .certificate-block-wrap
    text-align center
    display flex
    flex-direction column
    align-items center
  .works__heading_fns
    font-size 4.3rem
  .header__img_fix
    display none
  .header__heading.thanks__heading
    font-size: 3.4rem
    line-height: 4rem
  .mainlink
    padding 1rem 1.5rem
    text-align center
  .footer__wrap
    flex-direction column
    align-items center
  .header__contacts
    flex-direction column
  .hidden-content
    margin 0
    margin-bottom 2rem

@media (max-width: 414px)
  .sliderContent__big-img
    width 37.9rem
  .button-next
    transform: translateX(35rem)
  .button-next.swiper-button-disabled
    transform: translateX(35rem) scaleX(-1)
  .button-next.btn-tab
    transform: translate(35rem,-10rem)
  .button-next.btn-tab.swiper-button-disabled
    transform: translate(35rem,-10rem) scaleX(-1)
  .button-next.btn-tab.mobile
    transform: translate(35rem, 13rem)
  .button-next.btn-tab.mobile.swiper-button-disabled
    transform: translate(35rem, 13rem) scaleX(-1)

@media (max-width: 411px)
  .sliderContent__big-img
    width 37.9rem
  .button-next
    transform: translateX(36rem)
  .button-next.swiper-button-disabled
    transform: translateX(36rem) scaleX(-1)
  .button-next.btn-tab
    transform: translate(35rem,-10rem)
  .button-next.btn-tab.swiper-button-disabled
    transform: translate(35rem,-10rem) scaleX(-1)
  .button-next.btn-tab.mobile
    transform: translate(35rem, 13rem)
  .button-next.btn-tab.mobile.swiper-button-disabled
    transform: translate(35rem, 13rem) scaleX(-1)

@media (max-width: 375px)
  .sliderContent__big-img
    width 34.5rem
  .button-next
    transform: translateX(32rem)
  .button-next.swiper-button-disabled
    transform: translateX(32rem) scaleX(-1)
  .button-next.btn-tab
    transform: translate(31rem,-10rem)
  .button-next.btn-tab.swiper-button-disabled
    transform: translate(31rem,-10rem) scaleX(-1)
  .button-next.btn-tab.mobile
    transform: translate(31rem, 13rem)
  .button-next.btn-tab.mobile.swiper-button-disabled
    transform: translate(31rem, 13rem) scaleX(-1)


@media (max-width: 320px)
  .servise
    display flex
    flex-direction column
    margin-top 4rem
    margin-left 0
  .sliderContent__big-img
    width 29rem
  .button-next
    transform: translateX(26rem)
  .button-next.swiper-button-disabled
    transform: translateX(26rem) scaleX(-1)
  .button-next.btn-tab
    transform: translate(26rem,-10rem)
  .button-next.btn-tab.swiper-button-disabled
    transform: translate(26rem,-10rem) scaleX(-1)
  .button-next.btn-tab.mobile
    transform: translate(26rem, 13rem)
  .button-next.btn-tab.mobile.swiper-button-disabled
    transform: translate(26rem, 13rem) scaleX(-1)
  .confidentiality__span
    flex-basis: 140px
