@media (min-width 768px)
  .modal-img
    width 30%
  .mobile-slider
    display none
@media only screen and (max-width 768px)
  .plan
    &__steps
      justify-content space-around
    &__step
      width 50%
      &-arrow-pos1, &-arrow-pos2, &-arrow-pos3, &-arrow-pos4, &-arrow-pos5
        right -1.8rem
      &-arrow-pos2, &-arrow-pos4
        right 3.2rem
  .button-next.btn-tab, .button-prev.btn-tab
    background: url('./../../images/slider-icon/slider-nav-active.png') no-repeat
    display block
    left 0
    right 0
    z-index 10
  .button-next.btn-tab
    transform: translate(52rem, -10rem)
  .button-prev.btn-tab
    transform:translate(20rem, -10rem) scale(-1)
  .button-next.btn-tab.swiper-button-disabled
    background-image: url('./../../images/slider-icon/slider-nav-disable.png')
    transform: translate(52rem, -10rem) scaleX(-1)
  .button-prev.btn-tab.swiper-button-disabled
    background-image: url('./../../images/slider-icon/slider-nav-disable.png')
    transform: translate(20rem, -10rem) scaleX(1)
  .modal-img
    width 50%
  .servises__description_mar
    margin-bottom 2rem
  .servises__tabs
    display none
  .mobile-slider
    display block
  .servise
    display flex
    align-items center
    flex-direction column
    margin-top 2rem
    &__header
      text-align center
  .header
    &__contacts
      flex-direction column
    &__left-side, &__right-side
      width 100%
      justify-content space-around
    &__advantages
      flex-direction column
      margin-left 6rem
    &__img
      display none
    &__heading, &__description, &__btn-wrap
      text-align center
  .benefits
    &__heading-wrap
      flex-direction column
    &__description
      &_mar
        margin-left 0
  .benefit
    max-width 35rem
  .servises
    padding-bottom 0
    &__tabs
      margin-top 4rem
    &__tabs-navigation
      &:after
        display none
    &__description_mar
      margin-left 0
      margin-top 4rem
    &__tabs-navigation
      flex-direction column
  .dangers
    &__description_mar
      margin-left 0
      margin-top 2rem
    &__form
      padding 4.1rem 2rem 1.9rem
      &:before, &:after
        display none
    &__form-data
      flex-direction column
      justify-content center
  .group
    margin-right 0
    margin-bottom 2.5rem
  .swiper-slide
    flex-direction column
    justify-content center
    align-items center
  .sliderContent
    &__images-wrap
      max-width 54.9rem
      margin auto
    &__small-img-container
      margin 1.6rem auto 0
    &__icons
      flex-direction: column
      align-items center
  .works__content__desc
    margin: 2rem auto 0
  .stars
    &-wrap
      flex-direction column
    &__star
      justify-content center
      margin-bottom 2rem
  .dignitys
    justify-content space-around
  .certificates
    &__heading-wrap
      justify-content center
    &__name
      display none
    &__man
      display none
  .certificate-block
    flex-direction column
    &__elem
      margin-right 0
    &-wrap
      margin-bottom 5rem
      display flex
      justify-content space-around
      width 100%
  .tab_btn
    &.active
      color ligc
      &:before
        width 26.2em
      .tab_btn-icon
        &-1
          background-image url('./../../images/tabs_icons/1.png')
        &-2
          background-image url('./../../images/tabs_icons/2.png')
        &-3
          background-image url('./../../images/tabs_icons/3.png')
        &-4
          background-image url('./../../images/tabs_icons/4.png')
  .tab_btn.active5:before
    content ''
    left -3.5rem


  .button-next, .button-prev
    display none
  .thanks
    padding 0
  .wrapper.thanks__wrapper
    display flex
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  .header__img_fix
    display block
    transform: translateX(0)
    margin-top 2rem
  .header__heading.thanks__heading
    font-size: 4.5rem

@media only screen and (max-width: 576px)
  .plan
    &__steps
      flex-direction column
      align-items center
      justify-content space-around
    &__step
      margin-bottom 2rem
      position static
      &-arrow
        margin 2rem auto 0
        position static
        transform: rotate(90deg)
  .button-next.btn-tab
    transform: translate(26rem, -10rem)
  .button-prev.btn-tab
    transform: translate(0rem, -10rem) scale(-1)
  .button-next.btn-tab.swiper-button-disabled
    transform: translate(26rem, -10rem) scaleX(-1)
  .button-prev.btn-tab.swiper-button-disabled
    transform: translate(0rem, -10rem) scaleX(1)
  .header__description.benefits__description_mar
    margin-bottom 0
  .sometext.fix
    display block
    margin-left 4.6rem
  .servises__description_mar
    margin-bottom 2rem
  .servises__tabs
    display none
  .mobile-slider
    display block
  .header
    &__left-side, &__right-side
      flex-direction column
    &__logo, &__phone-contact, &__inst-contactwrap
      margin 0
      margin-bottom: 3rem
      text-align center
    &__advantages
      margin-left 0
    &__stages
      flex-direction column
      align-items center
    &__stage
      margin-bottom 4rem
      display flex
      align-items center
      &:last-child
        margin-bottom 0
    &__stage-number
      left 20px
  .works__content__room-name
    margin-top 2rem
  .works__content__room-desc
    margin-top 1.7rem
  .benefit
    &-container
      justify-content center
  .dangers__problems
    justify-content center
  .dangers__form
    padding 4.1rem 2rem 1.9rem
  .sliderContent__icon_desc-wrap
    margin 0
    margin-top 1rem
  .sliderContent__icons
    flex-wrap wrap
    justify-content center
  .sliderContent__icon-elem
    flex-direction: column
    justify-content center
    margin-top 1rem
  .sliderContent__big-img
    width 32.9rem
  .sliderContent__small-img-container
    flex-wrap wrap
  .sliderContent__small-img
    margin-bottom 1rem
  .stars__star
    display flex
    flex-direction column
  .stars__star-descs
    margin-top 2rem
  .stars__star-img
    width 17.2rem
    height 24rem
    margin-bottom 1rem
  .stars__star-descs-mar
    margin-top 2rem
  .header__heading
    font-size 4.8rem
    line-height: 5.2rem
  .button-next, .button-prev
    display none
  .dignitys__dignity
    margin-bottom 2rem
    &:last-child
      margin-bottom 0
  .certificate-block__elem
    pointer-events none
    margin-bottom 2rem
    &:first-child
      margin-right 0
      margin-bottom 2rem
  .certificate-block-wrap
    text-align center
    display flex
    flex-direction column
    align-items center
  .works__heading_fns
    font-size 4.3rem
  .header__img_fix
    display none
  .header__heading.thanks__heading
    font-size: 3.4rem
    line-height: 4rem
  .mainlink
    padding 1rem 1.5rem
    text-align center
  .footer__wrap
    flex-direction column
    align-items center

@media (max-width: 320px)
  .sliderContent__big-img
    width 29rem
