@media (min-width 768px)
  .mobile-slider
    display none
@media only screen and (max-width 768px)
  .servises__description_mar
    margin-bottom 2rem
  .servises__tabs
    display none
  .mobile-slider
    display block
  .servise
    display flex
    align-items center
    flex-direction column
    &__header
      text-align center
  .header
    &__contacts
      flex-direction column
    &__left-side, &__right-side
      width 100%
      justify-content space-around
    &__left-side
      margin-bottom 2rem
    &__advantages
      flex-direction column
      margin-left 6rem
    &__img
      display none
    &__heading, &__description, &__btn-wrap
      text-align center
  .benefits
    &__heading-wrap
      flex-direction column
    &__description
      &_mar
        margin-left 0
  .benefit
    max-width 35rem
  .servises
    &__tabs
      margin-top 4rem
    &__tabs-navigation
      &:after
        display none
    &__description_mar
      margin-left 0
      margin-top 4rem
    &__tabs-navigation
      flex-direction column
  .dangers
    &__description_mar
      margin-left 0
      margin-top 2rem
    &__form
      &:before, &:after
        display none
    &__form-data
      flex-direction column
      justify-content center
  .group
    margin-right 0
    margin-bottom 2.5rem
  .swiper-slide
    flex-direction column
    justify-content center
  .sliderContent
    &__images-wrap
      max-width 54.9rem
      margin auto
    &__small-img-container
      margin 1.6rem auto 0
    &__icons
      margin 2.4rem auto 0
  .works__content__desc
    margin: 2rem auto 0
  .stars
    &-wrap
      flex-direction column
    &__star
      justify-content center
      margin-bottom 2rem
  .dignitys
    justify-content space-around
  .certificates
    &__heading-wrap
      justify-content center
    &__name
      display none
    &__man
      display none
  .certificate-block
    flex-direction column
    &-wrap
      margin-bottom 5rem
  .tab_btn
    &:before
      display none
    &_mr-l, &_mr-l2, &_mr-l3, &_mr-l4
      margin 0
  .plan
    &__steps
      justify-content space-around
    &__step
      width 50%
      &-arrow-pos1, &-arrow-pos2, &-arrow-pos3, &-arrow-pos4, &-arrow-pos5
        right -1.8rem
      &-arrow-pos2, &-arrow-pos4
        right 3.2rem
  .button-next, .button-prev
    display none
  .thanks
    padding 0
  .wrapper.thanks__wrapper
    display flex
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  .header__img_fix
    display block
    transform: translateX(0)
    margin-top 2rem
  .header__heading.thanks__heading
    font-size: 4.5rem

@media only screen and (max-width: 576px)
  .servises__description_mar
    margin-bottom 2rem
  .servises__tabs
    display none
  .mobile-slider
    display block
  .header
    &__left-side, &__right-side
      flex-direction column
    &__logo, &__phone-contact
      margin 0
    &__phone-contact
      margin-bottom 1rem
    &__advantages
      margin-left 0
    &__stages
      flex-direction column
      align-items center
    &__stage
      margin-bottom 2rem
      &:last-child
        margin-bottom 0
  .benefit
    &-container
      justify-content center
  .dangers__problems
    justify-content center
  .dangers__form
    padding 4.1rem 7rem 1.9rem
  .sliderContent__icons
    flex-wrap wrap
    justify-content center
  .sliderContent__icon-elem
    &:first-child
      margin-right 2rem
    &:last-child
      margin-top 2rem
  .sliderContent__big-img
    width 32.9rem
  .sliderContent__small-img-container
    flex-wrap wrap
  .stars__star-img
    width 17.2rem
    height 24rem
  .stars__star-descs-mar
    margin-top 2rem
  .header__heading
    font-size 4.8rem
  .button-next, .button-prev
    display none
  .dignitys__dignity
    margin-bottom 1rem
    &:last-child
      margin-bottom 0
  .certificate-block__elem
    pointer-events none
    &:first-child
      margin-right 0
      margin-bottom 1rem
  .certificate-block-wrap
    text-align center
  .works__heading_fns
    font-size 4.8rem
  .plan
    &__step
      &-arrow-pos2, &-arrow-pos4
        right -0.8rem
  .header__img_fix
    display none
  .header__heading.thanks__heading
    font-size: 3.4rem
    line-height: 4rem
  .mainlink
    padding 1rem 1.5rem
    text-align center
