@media only screen and (max-width 768px)
  .header
    &__contacts
      flex-direction column
    &__left-side, &__right-side
      width 100%
      justify-content space-around
    &__left-side
      margin-bottom 2rem
    &__advantages
      flex-direction column
      margin-left 6rem
    &__img
      display none
    &__heading, &__description, &__btn-wrap
      text-align center
  .benefits
    &__heading-wrap
      flex-direction column
    &__description
      &_mar
        margin-left 0
  .benefit
    max-width 35rem
  .servises
    &__tabs
      margin-top 4rem
    &__tabs-navigation
      &:after
        display none
    &__description_mar
      margin-left 0
      margin-top 4rem
    &__tabs-navigation
      flex-direction column
  .dangers
    &__description_mar
      margin-left 0
      margin-top 2rem
    &__form
      &:before, &:after
        display none
    &__form-data
      flex-direction column
      justify-content center
  .group
    margin-right 0
    margin-bottom 2.5rem
  .swiper-slide
    flex-direction column
    justify-content center
  .sliderContent
    &__images-wrap
      max-width 54.9rem
      margin auto
    &__small-img-container
      margin 1.6rem auto 0
    &__icons
      margin 2.4rem auto 0
  .works__content__desc
    margin: 2rem auto 0
  .stars
    &-wrap
      flex-direction column
    &__star
      justify-content center
      margin-bottom 2rem
  .dignitys
    justify-content space-around
  .certificates
    &__heading-wrap
      justify-content center
    &__name
      display none
    &__man
      display none
  .certificate-block
    flex-direction column
    &-wrap
      margin-bottom 5rem
  .tab_btn
    &:before
      display none
    &_mr-l, &_mr-l2, &_mr-l3, &_mr-l4
      margin 0
  .plan
    &__steps
      justify-content space-around
    &__step
      width 50%
      &-arrow-pos1, &-arrow-pos2, &-arrow-pos3, &-arrow-pos4, &-arrow-pos5
        right -1.8rem
      &-arrow-pos2, &-arrow-pos4
        right 3.2rem


//@media only screen and (max-width: 576px)
