@import './_fonts.styl';
@import './_variables.styl';

*
  margin 0
  padding 0
  box-sizing border-box
  outline none

html, body
  font-size 10px
  font-family 'Myriad Pro'

.wrapper
  max-width 120rem
  padding 0 1.5rem
  margin 0 auto

button
  cursor pointer

@import './blocks/_button-mixin.styl'
@import './blocks/_header.styl'
@import './blocks/_benefit.styl'
@import './blocks/_services&prices.styl'
@import './blocks/_dangers.styl'
@import './blocks/_form-data.styl'
@import './blocks/_complited-works.styl'
@import './blocks/_stars.styl'
@import './blocks/_certificates.styl'
@import './blocks/_plan.styl'
@import './blocks/_footer.styl'
