mixin icon(image, name, desc)
  .sliderContent__icon-elem
    img(data-src='./../../images/slider-icon/' + image).sliderContent__icon
    .sliderContent__icon_desc-wrap
      p.sliderContent__icon-name=name
      p.sliderContent__icon-desc=desc
