.benefits
  margin-top 9.9rem
  &__heading-wrap
    display flex
    align-items center
  &__description_mar
    margin-left 8.9rem
  &__button-wrap
    text-align center
    margin-top 3.8rem
    margin-bottom 10.7rem

.benefit-container
  display flex
  justify-content space-between
  margin-top 4.9rem
  flex-wrap wrap
.benefit-wrap
  display flex
  align-items center

.benefit
  &__icon
    position relative
    width 7.3rem
    height 7.4rem
    box-shadow 0 5px 10px rgba(227, 69, 74, 0.42)
    border-radius 50%
    &_icon-before
      &:before
        content ''
        position absolute
      &_icon1
        &:before
          background: url("./../../images/benefit_icons/shield.png")
          top 1.3rem
          right 1.4rem
          bottom 1rem
          left 1.6rem
          width 4.3rem
          height 5.1rem
      &_icon2
        &:before
          background: url("./../../images/benefit_icons/text-documents.png")
          top 1.2rem
          right 1.4rem
          bottom 1.1rem
          left 1.6rem
          width 4.3rem
          height 5.1rem
      &_icon3
        &:before
          background: url("./../../images/benefit_icons/check-list.png")
          top 1.2rem
          right 1.5rem
          bottom 1.1rem
          left 1.7rem
          width 4.1rem
          height 5.1rem
      &_icon4
        &:before
          background: url("./../../images/benefit_icons/car.png")
          top 1.8rem
          right 1rem
          bottom 1.6rem
          left 1.2rem
          width 5.1rem
          height 3.9rem
      &_icon5
        &:before
          background: url("./../../images/benefit_icons/accounting.png")
          top 1.2rem
          right 1rem
          bottom 1rem
          left 1.2rem
          width 5.1rem
          height 5.1rem
      &_icon6
        &:before
          background: url("./../../images/benefit_icons/execution.png")
          top 1.2rem
          right 1rem
          bottom 1rem
          left 1.2rem
          width 5.1rem
          height 5.1rem
      &_icon7
        &:before
          background: url("./../../images/benefit_icons/improvement.png")
          top 1.2rem
          right 1rem
          bottom 1rem
          left 1.2rem
          width 5.1rem
          height 5.1rem
      &_icon8
        &:before
          background: url("./../../images/benefit_icons/money.png")
          top 1.2rem
          right 1rem
          bottom 1rem
          left 1.2rem
          width 5.1rem
          height 5.1rem
      &_icon9
        &:before
          background: url("./../../images/benefit_icons/cash.png")
          top 1.3rem
          right 1.1rem
          bottom 1.1rem
          left 1.3rem
          width 4.9rem
          height 4.9rem
      &_icon10
        &:before
          background: url("./../../images/benefit_icons/shipped.png")
          top 2.1rem
          right 1rem
          bottom 1.9rem
          left 1.2rem
          width 5.1rem
          height 3.3rem
      &_icon11
        &:before
          background: url("./../../images/benefit_icons/wifi.png")
          top 1.9rem
          right 1rem
          bottom 1.7rem
          left 1.2rem
          width 5.1rem
          height 3.7rem
      &_icon12
        &:before
          background: url("./../../images/benefit_icons/trash.png")
          top 1.2rem
          right 1.3rem
          bottom 1rem
          left 1.5rem
          width 4.5rem
          height 5.1rem
  &__heading
    color: #000000
    font-size 2rem
    font-weight 700
    line-height 2.8rem
    max-width: 24rem
    margin-left 1.8rem
    &_fix-fnsz
      font-size 1.8rem
  &__description
    margin-top 1.8rem
    max-width: 37rem
    font-size: 1.8rem
    color ligc
    line-height: 2.6rem
    margin-bottom 4.8em
    &_fix-width
      max-width 34rem
      margin-right 3rem


