.works
  padding-top 9.6rem
  padding-bottom 10rem
  background url('./../../images/pattern.png') center center/contain #f5f5d7
  &__content
    display flex
    margin-top 5rem
    position relative
    &__desc
      margin-left 2.8rem
      margin-top -0.5rem
    &__room-name
      color #000000
      font-size 2.4rem
      font-weight 700
      line-height 3.7rem
    &__room-desc
      color ligc
      font-size 1.8rem
      font-weight 400
      margin-top 4.7rem
      &_num
        line-height 1.4rem
        font-size 1.6rem
  &__button-wrap
    margin-top 5.4rem
    text-align center


.sliderContent
  &__big-img
    width 54.9rem
    height 30.5rem
    object-fit: cover
    border 1.2rem solid #fff
  &__small-img
    width 7.4rem
    height 4.8rem
    object-fit: cover
    border 0.2rem solid #fff
    &.active
      border-color #e31e25
  &__small-img-container
    display flex
    justify-content space-between
    max-width 54.9rem
    margin-top 1.6rem
  &__icons
    display flex
    align-items flex-end
    justify-content space-between
    max-width 54.9rem
    margin-top 2.4rem
  &__icon-elem
    display flex
    align-items center
  &__icon_desc-wrap
    margin-left 1.9rem
  &__icon-name
    color #000000
    font-weight 700
    font-size 1.8rem
  &__icon-desc
    color ligc
    font-size 1.8rem
    font-weight 400
    line-height 2.6rem

.swiper-container
  width 100%
  height 100%

.swiper-slide
  display flex

.button-next, .button-prev
  background: url('./../../images/slider-icon/slider-nav-active.png') no-repeat
  width 2.7rem
  height 5.1rem
  position absolute
  transform: translate(-50%, -50%)
  top 50%
  left -2.9rem
  z-index: 1
.button-next
  left auto
  right -6.5rem
.button-prev
  transform: translate(-50%, -50%) scaleX(-1)
.button-next.swiper-button-disabled
  background-image: url('./../../images/slider-icon/slider-nav-disable.png')
  transform: translate(-50%, -50%) scaleX(-1)
.button-prev.swiper-button-disabled
  background-image: url('./../../images/slider-icon/slider-nav-disable.png')
  transform: translate(-50%, -50%) scaleX(1)
