.dangers
  margin-top 8.7rem
  &__description_mar
    margin 0
    margin-left 5.2rem
    text-transform uppercase
  &__description_bcol
    color #000000
  &__problems
    display flex
    justify-content space-between
    flex-wrap wrap
  &__form-data
    display flex
    align-items center
  &__form
    padding 4.1rem 7rem 1.9rem 9.8rem
    border 0.7rem solid #239cc8
    margin-top 4.7rem
    margin-bottom 9.7rem
    position relative
    &:before
      content ''
      position absolute
      top 0
      left 0
      width 23.4rem
      height 18.3rem
      transform: translate(-4rem, 3.1rem)
      background url('../../images/form-side.png') center center/cover
    &:after
      content ''
      position absolute
      top 0
      right 0
      width 23.4rem
      height 18.3rem
      transform: translate(4rem, 3.1rem) scaleX(-1)
      background url('../../images/form-side.png') center center/cover
    &-desc
      font-size 1.8rem
      font-weight 400
      line-height 2.6rem
      text-align center
      color ligc
      &_col
        color #000000
    &-exhortation
      text-align center
      font-size 2.4rem
      color #239cc8
      margin-top 4.6rem
      margin-bottom 2.3rem

.danger
  margin-top 4.8rem
  &__first-desc_fix
    margin-top 5.8rem
  &__img
    width 27.4rem
    height 15.4rem
  &__header
    max-width 24.8rem
    color #000000
    font-size 2rem
    font-weight 400
    line-height 2.8rem
    text-transform uppercase
    margin 2.9rem 0
  &__desc-wrap
    line-height 2.6rem
    font-size 1.8rem
    max-width 28.7rem

.confidentiality
  text-align center
  margin-top 1rem
  color #0063b0
  font-size 1.2rem
  &:before
    content ''
    display inline-block
    width 1.3rem
    height 1.3rem
    margin-right 0.9rem
    background url('../../images/check-box.jpg')
    margin-bottom -0.3rem
  &__link
    letter-spacing 0.024rem
    color #0063b0

