.stars
  padding-top 9.6rem
  padding-bottom 9.6rem
  &__star-img
    width 30.2rem
    height 39.4rem
    &-size
      width 33.1rem
      height 39.4rem
  &-wrap
    display flex
    justify-content space-between
    margin-top 4.8rem
  &__star
    display flex
    align-items center
    &__desc-wrap
      margin-left 2.2rem
    &-name
      color #239cc8
      font-size 3.6rem
      font-weight 700
      line-height 4.5rem
    &-descf
      color #000000
      font-weight 400
      line-height 3rem
      font-size 1.8rem
    &-descs
      color #909090
      font-size 1.8rem
      line-height 3rem
      margin-top 5rem
      &-mar
        margin-top 4.8rem
